{% extends "layout/layout.html" %}

{% block title %}
    Company
{% endblock title %}

{% block content %}

    <div class="list-group">
        {% for company in pagination.companies %}
            <div class="list-group-item list-group-item-action d-flex align-items-center">
                <span class="badge bg-secondary rounded-pill me-2 flex-shrink-0">
                    ID: {{ company.index }}
                </span>

                <span class="fw-bold me-2 text-truncate flex-grow-1 flex-lg-grow-0 col-lg-4">
                    {{ company.name }}
                </span>

                <span class="text-muted text-truncate flex-grow-1 d-none d-lg-inline">
                    {{ company.lead }}
                </span>
            </div>
        {% else %}
            <div class="list-group-item text-center py-5">
                <p class="text-muted mb-0">
                    企業情報がありません。
                </p>
            </div>
        {% endfor %}
    </div>

    {% if pagination.total_pages > 1 %}
        <nav aria-label="Page navigation" class="mt-3">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                    <a class="page-link bg-secondary text-white"
                       href="{{ url_for('company.company_list', requested_page=pagination.current_page - 1, per_page=pagination.per_page) if pagination.has_prev else '#' }}">
                        前へ
                    </a>
                </li>

                {% for page in range(1, pagination.total_pages + 1) %}
                    <li class="page-item
                               {% if page == pagination.current_page %}
                                   active
                               {% endif %}">
                        <a class="page-link"
                           href="{{ url_for('company.company_list', requested_page=page, per_page=pagination.per_page) }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}

                <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                    <a class="page-link bg-secondary text-white"
                       href="{{ url_for('company.company_list', requested_page=pagination.current_page + 1, per_page=pagination.per_page) if pagination.has_next else '#' }}">
                        次へ
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    <div class="card-body d-flex justify-content-center mb-0">
        <span>全{{ pagination.total_items }}件</span>
    </div>

{% endblock content %}
